<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" href="/stylesheets/style.css">

    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome </p>

    <form method="" class="convert">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Youtube URL</span>
        </div>
        <input type="text" id="url" class="form-control" aria-label="url" aria-describedby="inputGroup-sizing-default" placeholder="https://www.youtube.com/watch?v=nuUuaLAAXCA">
      </div>
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Start</span>
        </div>
        <input type="text" id="start" aria-label="Start time" class="form-control" placeholder="0:3">
        <div class="input-group-prepend">
          <span class="input-group-text">Duration</span>
        </div>
        <input type="text" id="duration" aria-label="Duration time" class="form-control" placeholder="0:2">
      </div>
  
      <button type="submit" class="btn btn-primary convert-button">Convert</button>
    </form>

    <hr>

    <% images.forEach(function(img) {%>
      <img src="/<%= img %>">
    <%});%>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
